<?xml version="1.0"?>
<model>
  <name>grass_tuft</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>AgriBot</name>
    <email>christopheraliu07@gmail.com</email>
  </author>
  <description>Compact grass tuft built from layered SDF blade visuals.</description>
</model>